body {
  padding-top: 0px;
}

.navbar {
  position: static;
}

.navbar #search-div {
  position: static;
  width: 300px;
}

.navbar #search-div input {
  width: 250px;
  background: #fff url(/cook/static/img/search.png) no-repeat 14px 14px;
  padding-left:40px;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content: "\e080";
}

#search {
  padding: 0px;
  width: 100%;
  border-radius: 5px;

  parent {
    padding: 10px;
  }
}

#search-div {
  padding: 8px;
}

.suggestions
{
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    margin: 7px 20px 0 0;
    z-index: 1001;
    width: 250px;
    border-radius: 5px;
}

.suggestions-header {
  border-bottom: 1px solid #e2e2e2;
  padding-top: 5px;
  padding-bottom: 3px;
  text-align: center;
}

.suggestions-item {
  padding: 5px;
}

.suggestion-item-active {
  background: #F7F7F7;
}

@media print {

  body {
    padding-top: 0px;
  }

  @page {
    margin: 0.5cm;
  }

  .form-control, .form-group, .btn-group {
    display: none;
  }

  .alert {
    display: none;
  }

}
