{% extends "base.html" %}
{% block content %}
<div class="login">
  <h1>Login</h1>
  <form method="post" action="" name="login">
    {{ login_form.hidden_tag() }}
    <p>{{ login_form.username(class="app-input",
                              type="text",
                              placeholder="Username",
                              required=True) }}</p>
    <p>{{ login_form.password(class="app-input",
                              type="password",
                              placeholder="Password",
                              required=True) }}</p>
    <p class="remember_me">
      <label>
        {{ login_form.remember_me }}
        Remember me
      </label>
    </p>
    <p class="submit"><input type="submit" name="submit" value="Log in"></p>
  </form>
</div>
{% endblock content %}
