{% extends "base.html" %}

{% block content %}

<section id="account">
  <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       {{ current_user.username }}
     </h4>
   </div>

   <div class="panel-body">
     <form role="form" method='post' action="{{ url_for('update_password') }}">
       {{ update_password_form.hidden_tag() }}
       <div class="form-group">
         <label for="password">Password</label>
         {{ update_password_form.password}}
       </div>
       <div class="form-group">
         <label for="password">Repeat password</label>
         {{ update_password_form.confirm}}
         {% for error in update_password_form.password.errors %}
         <p>{{ error }}</p>
         {% endfor %}
       </div>
       <div class="form-group">
         <button type="submit" class="btn btn-default pull-right">Submit</button>
       </div>
   </form>

    </div>
  </div>
</section>


{% endblock %}
