{% extends "base.html" %}

{% block head %}

<script src="/cook/static/js/index.js"></script>

{% endblock head %}

{% block content %}

<section id="categories">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
      <div class="panel-heading">
        <h4 class="panel-title" data-toggle="collapse" data-target="#collapse-categories" style="cursor:pointer;">
            Tags
        </h4>
      </div>
      <div id="collapse-categories" class="panel-collapse collapse">
        <div class="panel-body">
          <div data-toggle="buttons" id="tag-group">
            {% for tag in tags %}
            <label class="btn btn-default">
              <input type="checkbox" id="{{ tag.name }}">{{ tag.name }}
            </label>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="recipes-section">

  <div class="clearfix">
    Found <span style="font-weight: bold;" id="recipe-count"></span> recipes
    <div class="pull-right">

      <div class="btn-group" id="prev-button">
        <a class="btn btn-sm btn-primary"
          href="javascript:{};" onclick="update_page(-1)"
          role="button">Previous</a>
      </div>

      <div class="btn-group" id="next-button">
        <a class="btn btn-sm btn-primary"
          href="javascript:{};" onclick="update_page(1)"
          role="button">Next</a>
      </div>
    </div>
  </div>

  <div class="container container-md-height">
    <div class="row row-md-height" id="recipes-group">
    </div>
  </div>

</section>

{% endblock content %}
