{% extends "base.html" %}

{% block head %}
<link href="/static/css/jquery-ui.min.css" type="text/css" rel="stylesheet">
<link href="/static/css/tokenfield-typeahead.css" type="text/css" rel="stylesheet">
<link href="/static/css/bootstrap-tokenfield.css" type="text/css" rel="stylesheet">
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap-tokenfield.js"></script>
<script src="/static/js/typeahead.bundle.js"></script>
<script>

$(window).on('load', function () {
  $('#tokenfield_tags').tokenfield({
    autocomplete: {
      source: {% if all_tags %} {{all_tags|tojson }} {% else %} [] {% endif %},
      delay: 100
    },
    showAutocompleteOnFocus: true
  })
  $('#tokenfield_recipes').tokenfield({
    autocomplete: {
      source: {% if all_recipes %} {{all_recipes|tojson }} {% else %} [] {% endif %},
      delay: 100
    },
    showAutocompleteOnFocus: true
  })
});
</script>
{% endblock head %}

{% block content %}

<section id="add_recipe">
  <div class="panel panel-default">
   <div class="panel-heading">
      <h4 class="panel-title">
        {% if edit %}
        Edit recipe
        {% else %}
        Add recipe
        {% endif %}
      </h4>
   </div>
   <div class="panel-body">
      <form role="form" method='post' action=''>
        {{ recipe_form.hidden_tag() }}
        <div class="form-group">
          <label for="name">Name</label>
          {{ recipe_form.name(type="text",
                                  class="form-control",
                                  placeholder="Enter recipe name",
                                  required=True) }}
        </div>
        <div class="form-group">
          <label for "ingredients">Ingredients</label>
          {{ recipe_form.ingredients(type="text",
                                          class="form-control",
                                          rows="6",
                                          placeholder="Enter ingredients\n(Markdown supported)",
                                          style="resize:vertical",
                                          required=True) }}
        </div>
        <div class="form-group">
          <label for "instructions">Instructions</label>
          {{ recipe_form.instructions(type="text",
                                          class="form-control",
                                          rows="10",
                                          placeholder="Enter instructions\n(Markdown supported)",
                                          style="resize:vertical",
                                          required=True) }}
        </div>
        <div class="form-group">
          <label for "instructions">Sources</label>
          {{ recipe_form.sources(type="text",
                                          class="form-control",
                                          rows="2",
                                          placeholder="Enter sources",
                                          style="resize:vertical",
                                          required=False) }}
        </div>
        <div class="form-group">
          <label for="tags">Tags</label>
          <input name="tags" type="text" class="form-control"

            id="tokenfield_tags" value="{{ recipe_tags }}" placeholder="Enter tags"/>
        </div>
        <div class="form-group">
          <label for="recipes">Serves with</label>
          <input name="recipes" type="text" class="form-control"
            id="tokenfield_recipes" value="{{ recipe_recipes }}" placeholder="Enter recipes"/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default pull-right">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>


{% endblock %}
